<!DOCTYPE html>
<html>
  <head>
    <title>MovieRama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'header',media: 'all' %>
    <%= stylesheet_link_tag 'filter_bar',media: 'all' %>
    <%= stylesheet_link_tag 'new_movie_button',media: 'all' %>
    <%= stylesheet_link_tag 'article_section',media: 'all' %>
    <%= stylesheet_link_tag 'form',media: 'all' %>
    <!--<#%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->
  </head>

  <body>
    
    <header class="header">

      
      <% temp = current_user %>
      <% current_user = temp %>
      
      <!--Display logout button if user is signed in-->
      <% if current_user %>
        <%= button_to 'Log out', session_url, method: :delete %>
      <% end %>
      <nav>
        <!-- Title is link to homepage -->
        <h1>
          <%= link_to 'MovieRama', movies_url %>
        </h1>
          <% if current_user %>
          <!-- if there is a signed in user display Welcome message ,
          his name-->
            <small class="header_small_1">Welcome back

              <!-- Username is a link to displaying only the users posts-->
              <!-- Filters are passed through ,the query string, to params[:filter]-->
              <%= link_to current_user.username,
                movies_url(filter: {poster: current_user, 
                sorting_field: "#{params[:filter][:sorting_field] if params[:filter]}",
                sorting_order: "#{params[:filter][:sorting_order] if params[:filter]}"}) 
              %>
            </small>
            
          <% else %>
            <!-- else displays Log in and Sign up links-->
            <small class="header_small_2">
              <%= link_to 'Log in', new_session_url(filter: filter_params) %> or  

              <%= button_to 'Sign up', new_user_url,method: :get %>
            </small>
          <% end %>
          
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
